{% extends "base.html" %} 

{% block content %}
<div class="wrapper wrapper-content animated fadeInRight">
    <h1 id="grp-admin-title">导入</h1>
    
    </br>

    <form id="edit"  name="edit"  enctype="multipart/form-data" action=""  method="post"  class="form-horizontal">
    {% csrf_token %}
        <div class="form-group">
            名称：<input type="text" name="name" class="" placeholder="只能输入英文或者数字，2-32个字母或者数字" required="length[2~32]">
        </div> 

        <!--
        <div class="form-group">
	        <select id="yaml_tpye" name="yaml_tpye">
	            <option id="main" value="main">main</option>
	            <option id="main" value="main">单main文件（不含roles和/或include等字段）</option>
	            <option id="full_roles" value="full_roles">main文件（含roles和/或include等字段）</option>
                <option id="roles" value="roles">roles</option>
                <option id="include" value="include">include</option>
	        </select>
        </div>
        -->

        <div class="form-group">
            文件（仅支持文件为zip、txt的文件）<label for="fileField"><input type="file" name="file"></label>
        </div>
        
        <div class="form-group">
            描述：
            <textarea name="describe" cols="80" rows="4" placeholder="描述下该yaml用途" required="length[2~]"></textarea>
        </div>
        
        <button type="submit" class="btn btn-sm btn-primary">导入</button>
	</form>
	
	</br>
	</br>
	
    <form id="edit"  name="edit"  enctype="multipart/form-data" action=""  method="post"  class="form-horizontal">
    {% csrf_token %}
        <div class="form-group">
            名称：<input type="text" name="name" class="" placeholder="只能输入英文或者数字，2-32个字母或者数字" required="length[2~32]">
        </div> 

        <!--
        <div class="form-group">
            <select id="yaml_tpye" name="yaml_tpye">
                <option id="main" value="main">main</option>
                <option id="main" value="main">单main文件（不含roles和/或include等字段）</option>
                <option id="full_roles" value="full_roles">main文件（含roles和/或include等字段）</option>
                <option id="include" value="include">include</option>
                <option id="roles" value="roles">roles</option>
            </select>
        </div>
        -->

        <div class="form-group">
            文件路径：<input type="text" name="path" class="" placeholder="文件路径" required="length[2~]">
        </div>
        
        <div class="form-group">
            描述：
            <textarea name="describe" cols="80" rows="4" placeholder="描述下该yaml用途" required="length[2~]"></textarea>
        </div>
        
        <button type="submit" class="btn btn-sm btn-primary">导入</button>
    </form>
</div>
{% endblock%}