ansible==2.6.18
cryptography
django==1.11
#django-celery
django-redis-sessions
celery
celery-with-redis
filetype
filetypes
hiredis
#mysqlclient
pymongo
#python-daemon
rarfile
redis
#requests
#requests-toolbelt